/* 
 * Footer Styling
*/

/* Footer Style */
footer {
    background-color: green;
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px #CCCCCC;
}